asgiref
atomicwrites==1.4.0
attrs==20.3.0
colorama
Django
djangorestframework
freeze==3.0
iniconfig==1.1.1
packaging==20.9
pluggy==0.13.1
psycopg2-binary
py==1.10.0
pyparsing==2.4.7
pytest
pytz==2020.5
setuptools
six==1.15.0
sqlparse
toml
